In [83]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")

In [4]:
df.shape

(19735, 29)

In [20]:
df.duplicated().any()

False

In [18]:
df.isnull().any()

Appliances     False
T1             False
RH_1           False
T2             False
RH_2           False
T3             False
RH_3           False
T4             False
RH_4           False
T5             False
RH_5           False
T6             False
RH_6           False
T7             False
RH_7           False
T8             False
RH_8           False
T9             False
RH_9           False
T_out          False
Press_mm_hg    False
RH_out         False
Windspeed      False
Visibility     False
Tdewpoint      False
rv1            False
rv2            False
dtype: bool

In [5]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
df = df.drop(columns = ["date", "lights"])

In [7]:
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [8]:
scaler = MinMaxScaler()

In [9]:
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)

In [71]:
x = normalised_df.drop(columns=["Appliances", "T1", "RH_1",
"RH_2", "T3", "RH_3",
"T4", "RH_4", "T5",
"RH_5", "T6", "RH_6", 
"T7", "RH_7", "T8",
"RH_8", "T9", "RH_9",
"T_out", "Press_mm_hg",  "RH_out",
"Windspeed", "Visibility", "Tdewpoint",
"rv1", "rv2"])

In [72]:
y = normalised_df["T6"]

In [73]:
y.head()

0    0.381070
1    0.375443
2    0.367487
3    0.363800
4    0.361859
Name: T6, dtype: float64

In [74]:
# Now, we split our dataset into the training and testing dataset. 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [75]:
linear_model = LinearRegression()
#fit the model to the training dataset
#x_train = x_train.reshape(-1, 1)
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [85]:
#R-Squared; which doubles also as the coefficient of determination
r2score = r2_score(y_test, predicted_values)
round(r2score, 2)

0.64

In [86]:
# Mean Absolute Error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.08

In [77]:
#Residual Sum of Squares (RSS)
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

66.12

In [78]:
#Root Mean Square Error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [79]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [80]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')

In [81]:
# print the weight of the feature
print(linear_model_weights)

  Features  Linear_Model_Weight
0       T2             0.891077

In [95]:
# Training using Ridge regression
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)
predicted_values_rig = ridge_reg.predict(x_test)

In [97]:
#Root Mean Square Error (RMSE) for the Ridge regression
rmse_rig = np.sqrt(mean_squared_error(y_test, predicted_values_rig))
print("The root mean square error for the Ridge regression is: {}".format(round(rmse_rig, 3)))

The root mean square error for the Ridge regression is: 0.106

In [98]:
# Training using Lasso regression
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
predicted_values_las = lasso_reg.predict(x_test)

In [99]:
#Root Mean Square Error (RMSE) for the Lasso regression
rmse_las = np.sqrt(mean_squared_error(y_test, predicted_values_las))
print("The root mean square error for the Lasso regression is: {}".format(round(rmse_las, 3)))

The root mean square error for the Lasso regression is: 0.106

In [100]:
lasso_weights = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')

In [101]:
# print the weight of the feature
print(lasso_weights)

  Features  Lasso_Weight
0       T2       0.85178